.card-container {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/661/973/110/cool-nba-logo-wallpaper-preview.jpg);
  min-width: 300px;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}
